.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
	min-height: 100vh;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.border-container{
	margin: 0 1.5rem 1.5rem 1.5rem;
	background-color: #FFFFF0;
	padding: 1.5rem;
}

.main-border {
	border: solid 2px $color__primary;
}

.content-container {
	margin: 2rem;
}